body{
    padding: 0;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: bisque;
    background-image: url(images/perfumeeee.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-div{
    margin-top: 1%;
    height: 105px;
    display: flex;
}
.nav-list{
    display: flex;
    list-style-type: none;
    padding-top: 5%;
}
.img-div{
    position: absolute;
    left: 10%;
}
.list-div{
    position: absolute;
    left: 55%;
}
.nav-list li a{
    display: block;
    padding: 14px 14px;
    color: bisque;
    text-decoration: none;
}
.nav-list li a:hover{
    color: darkgrey;
    border-bottom: 1px solid darkgrey;
    cursor: pointer;

}
.text-div{
    margin-left: 15%;
    padding-top: 10%;
}
.button1{
    width: 150px;
    margin-top: 20px;
    padding: 10px;
    background-color: burlywood;
    border-radius: 50px;
}
.button1:hover{
    background-color: darkgrey;
}
.quote{
    margin-top: 45%;
    height: 50px;
    color: bisque;
    font-size: 30pt;
    text-align: center;
    background-color:none;
}
.footer{
    margin-top: 3%;
    height: 50px;
    color: bisque;
    text-align: center;
}
.footer ul{
    list-style: none;
}
.footer li{
    font-size: 15pt;
    display: inline;
    padding-left: 40px;
}
.footer a{
    text-decoration: none;
    color: bisque;
}
.footer a:hover{
    color: darkgray;
}

